.image-container {
  overflow: hidden;
  position: relative; /* ensures badge is positioned correctly */
}

.card:hover .image-container img {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}
